{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie de circuit{% endblock %}

{% block main %}
    <h1>Modifier une catégorie de circuit</h1>

    {{ include('back/circuit_category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('circuit_category_index') }}">Revenir à la liste</a>

    {{ include('back/circuit_category/_delete_form.html.twig') }}
{% endblock %}
