@width: 560px;
@height: 350px;

.carousel {
  width: @width;
  height: @height;

  .item {
    overflow: hidden;

    img {
      height: 100%;
      max-width: none;
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
  }
}
