<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
          {% block title %}
          Agence de Voyage GeorgiaTech
          {% endblock %}
        </title>
        {% block stylesheets %}
        {% endblock %}
      <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/gt.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>

    {% block menu %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/">
        <img src="/assets/gt_flag.jpg" alt="Drapeau GoergiaTech" width="100">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar navbar-collapse collapse  ml-auto" id="collapsibleNavbar">
      {{ knp_menu_render('main', {'currentClass': 'active'}) }}
      {{ knp_menu_render('user', {'currentClass': 'active'}) }}
      </div>
    </nav>
    {% endblock %}


        {% block body %}
        <div class="container">
          {% block main %}
          {% endblock %}
          </div>
        {% endblock %}

      {% block footer %}
      <div class="jumbotrongt">
        <div class="row">
          <div class="col text-center"><a
               href="https://github.com/odulcy/proj-agvoy">Retrouvez-nous sur
               GitHub</a>
          </div>
          <div class="col text-center" style="color : #f4c842">Copyright Nathanaël DENIS & Olivier DULCY</div>
          <div class="col text-center" style="color : #f4c842">Team GeorgiaTech</div>
        </div>
      </div>
      {% endblock %}
    </body>
    {% block javascripts %}
    <script src="/js/bootstrap.min.js">
    </script>
    {% endblock %} {# javascripts #}
    {% block custompage_script %}
    {% endblock %} {# custompage_scripts #}
</html>
