{# templates/home.html.twig #}

{# Template de la page d'accueil de l'application #}

{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Welcome{% endblock %}

{% block main %}

<div class="jumbotron text-center bg-warning" style="margin-bottom:0">
  <h1 class="gtTitle"> Agence de Voyage GeorgiaTech</h1>
  <p class="subgtTitle">Pour aller encore plus loin qu'Evry...</p>
  <img src="assets/gt_campus.jpg" alt="GoergiaTech Campus"></img>
  <p class="interText"> Embarquez pour un incroyable voyage... </p>
  <img src="assets/bike.jpg" alt="Moto en amérique"></img>
  <p class="interText"> Au royaume du gras...</p>
  <img src="assets/biggestburgerever.jpg"></img>
  <p class="endText"> Jamais vous ne voudrez repartir</p>
  <a href="/home"> Commençons </a>

</div>

{% endblock %} {# main #}
