{# templates/home.html.twig #}

{# Template de la page d'accueil de l'application #}

{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Welcome{% endblock %}

{% block main %}
<div class="jumbotron text-center bg-warning" style="margin-bottom:0">
  <h1> Agence de Voyage GoergiaTech</h1>
  <p>Pour aller encore plus loin qu'Evry...</p>
  <img src="assets/gt_campus.jpg" alt="GoergiaTech Campus">
</div>

{% endblock %} {# main #}

