{# templates/home.html.twig #}

{# Template de la page d'accueil de l'application #}

{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Welcome{% endblock %}

{% block main %}

<div class="jumbotron text-center bg-warning" style="margin-bottom:0">
  <h1 class="gtTitle"> Agence de Voyage GeorgiaTech</h1>
  <p class="subgtTitle">Pour aller encore plus loin qu'Evry...</p>
  <p class="titreactu">Amazing ongoing discounts !!</p>
  <div class="row">
  <img class="img-fluid pub" src=assets/paris.jpg alt="Tour eiffel" href=""></img>
  <p id="discount">La France à -50% cette semaine </p>
  </div>
  <img class="img-fluid" src="assets/gt_campus.jpg" alt="GoergiaTech Campus"></img>
  <p class="interText"> Embarquez pour un incroyable voyage... </p>
  <img class="img-fluid" src="assets/bike.jpg" alt="Moto en amérique"></img>
  <p class="interText"> Au royaume du gras...</p>
  <img class="img-fluid" src="assets/biggestburgerever.jpg"></img>
  <p class="endText"> Jamais vous ne voudrez repartir</p>
  <a href="/home" class="enter">  --> En route <-- </a>
</div>

{% endblock %} {# main #}
