{% extends 'base.html.twig' %}

{% block title %}Nouvelle Etape{% endblock %}

{% block main %}
    <h1>Création d'une nouvelle étape</h1>

    {{ include('back/etape/_form.html.twig') }}

    <a href="{{ path('admin_etape_index') }}">Revenir à la liste</a>
{% endblock %}
